language: node_js
node_js:
  - 0.10
before_install:
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
  - sleep 3
install:
  - npm install
  - npm install -g bower
  - bower install
script:
  - karma start traivs_karma.conf.js
after_script:
  - cat ./coverage/lcov.info | ./node_modules/coveralls/bin/coveralls.js