<div id="setup-area">

  <input id="username" ng-model="username" placeholder="Username"></input>

  <div class="choose-text">Choose a channel</div>
  <div class="channel-chooser">
    <div class="channel-number" ng-readonly="channel1ReadOnly" ng-click="channel1ReadOnly = !channel1ReadOnly">1</div>
    <div class="channel-number" ng-readonly="channel2ReadOnly" ng-click="channel2ReadOnly = !channel2ReadOnly">2</div>
    <div class="channel-number" ng-readonly="channel3ReadOnly" ng-click="channel3ReadOnly = !channel3ReadOnly">3</div>
  </div>

</div>
