<!DOCTYPE html>
<html>
<head>
  <title>Pusher Collaboration</title>
  <link href="/css/style.css" rel="stylesheet">
  <script src="/components/angular/angular.min.js"></script>
  <script src="/components/ui-router/release/angular-ui-router.min.js"></script>
  <script src="//js.pusher.com/3.0/pusher.min.js"></script>
  <script src="/components/pusher-angular/lib/pusher-angular.js"></script>
</head>
<body ng-app="pusherCollaboration">

  <div ui-view></div>

  <script src="/js/app.js"></script>
  <script src="/js/controllers.js"></script>
  <script src="/js/directives.js"></script>
  <script src="/js/services.js"></script>
</body>
</html>